- debug: msg="Deploying {{inventory_hostname}} to {{target}}"
- set_fact:
    sysctls: "{{ sysctls | default({}) }}"
    files: "{{ files | default({}) }}"
    templates: "{{ templates | default({}) }}"
    mounts: "{{ mounts | default({}) }}"
    environment: "{{ environment | default({}) }}"
    env_vars: "{{ env_vars | default({}) }}"

- file:
    path: build
    state: directory
  delegate_to: localhost
  tags:
    - always
  run_once: true


- add_host:
    name: "{{inventory_hostname}}"
    groups: "{{target}}"

- name: Running before (run_once) hooks {{hooks}}
  include_tasks: '{{item}}'
  vars:
    include_dir: "{{item | dirname }}"
  run_once: true
  with_items: "{{hooks | deploy_hooks('before', True, group_names) }}"

- name: Running before hooks
  vars:
    include_dir: "{{item | dirname }}"
  include_tasks: '{{item}}'
  with_items: "{{hooks | deploy_hooks('before', False, group_names) }}"

- include: parse_docker_compose_v3.yml
  with_items: "{{docker_compose_v3}}"

- include: ansible.yml
  when: target == 'ansible'

- include: ecs.yml
  when: target == 'ecs'
  run_once: true

- include: k8s.yml
  when: target == 'k8s' or target == 'kubernetes'
  run_once: true

- include: cloudinit.yml
  when: target == 'cloudinit'

- name: Running after hooks
  include: '{{item}}'
  vars:
    include_dir: "{{item | dirname }}"
  with_items: "{{hooks | deploy_hooks('after', False, group_names) }}"

- name: Running after (run_once) hooks
  vars:
    include_dir: "{{item | dirname }}"
  include: '{{item}}'
  with_items: "{{hooks | deploy_hooks('after', True, group_names) }}"

